html, body{
    height: 100%;
    color: #481e12;
    font-family: 'Open sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Baloo Da', cursive;
}

h1 {
    font-size: 3.4em;
}

h2 {
    font-size: 2.5em;
}

a {
    color: #2c2827;
    font-weight: bold;
}

a:hover {
    color:#bb432b;
    text-decoration: none;
}

.navbar-light .navbar-brand, 
.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-toggler {
    color: #f7bf76;
}

.navbar-light .navbar-brand, 
#main-title h1{
    font-family: 'Kavoon', cursive;
}
.bg-light {
    background: #2c2827!important;
}

.nav-item a.nav-link:hover,
a.navbar-brand:hover {
    color: #bb432b!important;
}

.nav-item.active .nav-link {
    color: #795324!important;
}

.btn.btn-default{
    background: #c8b8a1;
}

button:focus {
    outline-color:#bb432b;
}

/*landing page*/

#main-title {
    padding-top: 20%;
}

#main-title, #main-subtitle {
    padding-bottom: 10px;
    color:white;
    text-shadow: 1px 1px black;
}

#landing-page {
    height: 100%;
    background:url("../img/landing-img.jpg");
    background-size: cover;
    background-position: center;
}

/*about page*/
#about {
    max-height: 500px;
    padding-top: 70px;
    padding-bottom: 10px;
}

#testimonials {
    margin-bottom: 50px;
}

#testimonials .quote {
    background: #fde2bf;
    padding: 5px;
    color: #8b5d10;
    margin: 10px auto;
}

#testimonials h4 {
    text-align: center;
    padding-top: 10px;
}

#testimonials p {
    padding: 10px;
}


/*gallery page*/
#gallery {
    padding-top: 70px;
}


/*contact page*/

#contact-page {
    padding-top: 50px;
    height: 100%;
}

#contact-form {
    padding-top: 20px;
    padding-bottom: 10px;
}

#contact-sidebar {
    background: #fde2bf;
    height: 100%;
    padding-left: 30px;
}

#contact-sidebar h4 {
    padding-top: 15%;
}

ul.contact-list {
    padding-left: 20px;
    padding-top: 10px;
}
.contact-list li {
    list-style: none;
    padding-bottom: 10px;
}

.contact-list li span {
    font-weight: bold;
}

.social-media li {
    display: inline-block;
    font-size: 2em;
    padding-right: .5em;
}
